
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Farzana_Bulbul_portfolio</title>
	<meta charset="UTF-8">
	 {% load static %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700 }" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

	<div id="wrapper">
		<!-- Header Begin -->
		<header id="header">
			<!-- Menu and Logo Begin -->
			<div class="top_menu">
				<div class="center">
					<figure class="logo">
						{% comment %} <a href="#" title="logo"> {% endcomment %}
						<h2 height="200" style="color:white ; padding-top: 10px;"><b>Farzana Bulbul</b></h2>
						{% comment %} <img src=" static/img/logo.png"  alt="logo"> {% endcomment %}
					</figure>
					<nav class="menu">
						<ul>
							<li><a href="#" title="Home" class="menu_list">Home</a></li>
							<li><a href="#about" title="About" class="menu_list">About Me</a></li>
							<li><a href="#education" title="Education" class="menu_list">Education</a></li>
							<li><a href="#portfolio" title="Portfolio" class="menu_list">Projects</a></li>
							<li><a href="#contact" title="Contact" class="menu_list">Contact</a></li>
						</ul>
					</nav>
					<div class="mob_menu_btn"><i class="fas fa-bars"></i></div>
				</div>
			</div>
			<!-- Menu and Logo End -->
			<!-- Header content Begin -->
			<section class="main_content">
				<div class="center">
					<h3>Passionate backend developer crafting clean, efficient, and meaningful solutions </h3>
					<!-- Filled with javascript -->
				</div>
			</section>
			<!-- Header Content End -->
			<!-- Socials Links Begin -->
			<div class="center">
				<nav class="socials">
					<ul>
						<li><a href="https://www.facebook.com/farzanabulbul.meghla" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://www.linkedin.com/in/farzana-bulbul-097b49198/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</nav>
			</div>
			<!-- Socials Links End -->
			<!-- Scroll Button Begin -->
			<section class="scroll">
				<div class="center">
					<h6>Scroll for more</h6>
					<i class="far fa-arrow-alt-circle-down"></i>
				</div>
			</section>
			<!-- Scroll Button End -->
		</header>
		<!-- Header End -->
		<!-- Content Begin -->
		<section class="content">

			<!-- About Begin -->
			<section class="about" id="about">
				<div class="center">
					<h2>About Me</h2>
					<div class="personal_data">
						<figure><img src="static/img/user.jpg" alt="user image"></figure>
						<ul class="personal_data_list">
							<li><strong>Name:</strong>Farzana Bulbul</li>
							<li><strong>Email:</strong>farzanaece2k15@gmail.com</li>
							<li><strong>Nationality:</strong>Bangladeshi</li>
						</ul>
					</div>


					<section class="about_description">
						<h2>Personal Review</h2>
						<p> I am a dedicated Software Engineer with a strong foundation in backend development and hands-on experience across multiple domains.
							 After completing my B.Sc., I began my career as a Junior Software Developer, where I worked on a Django-based project, focusing primarily on backend development. 
							 I then joined another company as a Software Engineer and contributed to building and maintaining an e-commerce website, again specializing in backend systems.
							Most recently, I have been working at RedDot Digital Limited for the past year as an Operations Engineer, where I gained valuable insight into the operational aspects of software systems and how they run in production.
							This diverse experience has helped me grow as a well-rounded engineer with both development and operational expertise.
						</p>
						<p>
                           Now, I am looking forward to contributing my knowledge and experience to the software industry in a meaningful and impactful way.
                        </p>
					</section>

				</div>
			</section>
			<!-- About End -->

			<!-- Skills Begin -->
			<section class="skills" id="skills">
				<div class="center">
					<h2>Skills</h2>
					<ul class="skills_list">
						<li>
							<h2>python</h2>
							<div class="progress-bar blue stripes">
								<span style="width: 70%"></span>
							</div>
						</li>
						<li>
							<h2>html</h2>
							<div class="progress-bar blue stripes">
								<span style="width: 80%"></span>
							</div>
						</li>
						<li>
							<h2>Django</h2>
							<div class="progress-bar blue stripes">
								<span style="width: 70%"></span>
							</div>
						</li>

						<li>
							<h2>React</h2>
							<div class="progress-bar blue stripes">
								<span style="width: 40%"></span>
							</div>
						</li>

					</ul>
				</div>
			</section>
			<!-- Skills End -->

			<!-- Portfolio Begin -->
			<section class="portfolio" id="portfolio">
				<div class="center">
					<h2>Projects</h2>
					<ul class="portfolio_links">
						<li><a data-filter="#" href="http://127.0.0.1:8000/treasures/home">Treasurehunt</a></li>
						<li><a data-filter="#"  href="http://127.0.0.1:8000/profile">Photo gallery</a></li>

						</ul>
					<ul class="portfolio_tabs">
						<li class="item wordpress">
							<a href="#" title="Portfolio"><img src="static/img/work.PNG" alt="work"></a>
							<div class="portfolio_data">
								<a href="#" title="Portfolio"><h2>Project 1</h2></a>
							</div>
						</li>
						<li class="item web wordpress">
							<a href="#" title="Portfolio"><img src="static/img/1.png" alt="work"></a>
							<div class="portfolio_data">
								<a href="#" title="Portfolio"><h2>Project 2</h2></a>
							</div>
						</li>

					</ul>
				</div>
			</section>
			<!-- Portfolio End -->

			<div class="center">
				<!-- Education Begin -->
				<section class="education" id="education">
					<h2>Education</h2>
					<ul class="timeline">
						<li><a href="#" title="Education">2016 - 2020 Bachelor Degree in Electronics and Communication Engineering, "Khulna University of Engineering and Technology" </a></li>
						<li><a href="#" title="Education">2013-2015 HSC from "Govt. Girls’ College, Khulna"</a></li>
						<li><a href="#" title="Education">2013 SHC from "Nau Bahini Secondary School,Khulna"</a></li>
					</ul>
				</section>
				<!-- Education End -->
			</div>


			<!-- Stats Begin -->
			<div class="stats">
				<div class="center">
					<ul>
						<li>
							<a href="#" title="Stats"><i class="fas fa-trophy"></i></a>
							<a href="#" title="Stats"><h3>Licenses and Certification </h3></a>
							<a href="#" title="Stats"><h2>3</h2></a>
						</li>
						<li>
							<a href="#" title="Stats"><i class="fas fa-briefcase"></i></a>
							<a href="#" title="Stats"><h3>Projects</h3></a>
							<a href="#" title="Stats"><h2>3</h2></a>
						</li>
						<li>
							<a href="#" title="Stats"><i class="fas fa-briefcase"></i></a>
							<a href="#" title="Stats"><h3>Courses</h3></a>
							<a href="#" title="Stats"><h2>3</h2></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Stats End -->


			<!-- Contact Begin -->
			<section class="contact" id="contact">
				<div class="center">
					<h2>Contact me</h2>
					<form class="contact_form">
						<input type="text" name="name" class="cf_name" placeholder="Name">
						<input type="email" name="email" class="cf_email" placeholder="Email">
						<textarea name="message" class="cf_message" placeholder="Message"></textarea>
						<input type="submit" value="SEND" class="cf_submit">
					</form>
				</div>
			</section>
		</section>
		<!-- Content End -->

		<footer id="footer">
			<div class="center">
				<p>© 2018 https://www.site.com</p>
			</div>
		</footer>

	</div>
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<script src="static/js/imagesloaded.pkgd.min.js"></script>
	<script src="static/js/isotope.pkgd.min.js"></script>
	<script src="static/js/typed.min.js"></script>
	<script src="static/js/script.js"></script>
</body>
</html>